@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding:0;
    margin:0;
    font-family: Delius;
}


.underlineEffect {
    position: relative;
  }
  
  .underlineEffect:after{
  
    content: "";
    position: absolute;
    background-color: black;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.4s ease-out;
  }
  
  .underlineEffect:hover{
    color: black;
  }
  
  .underlineEffect:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
  }


  

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-item {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    background-color: #fff;
  }

  .dropdown-item:hover {
    background-color: #b4ea2a;
  }